# GitHub Package Registry Configuration
# GITHUB_TOKEN wird zur Build-Zeit nicht benötigt, da wir keine privaten GitHub Packages verwenden
# @bcommonslab:registry=https://npm.pkg.github.com
# //npm.pkg.github.com/:_authToken=${GITHUB_TOKEN} 